@import url('https://fonts.googleapis.com/css2?family=Sen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Sen&display=swap');

:root{
    --sen : 'Sen', sans-serif;
    --roboto:'Roboto', sans-serif;
    --white:#ffffff;
    --black:#000000;
    --violet:#7C83FD;
    --blue:#96BAFF;
    --green:#93FFD8;
    --gGreen:#CFFFDC;
    --background:rgba(239, 251, 252, 0.5);
}

*{
    margin: 0px ;
    padding: 0px;
    /* border: 1px solid red; */
}

.flex__box{
    display: flex;
    justify-content: center;
    align-items: center;
}